<html>

<head lang="ja">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Ring --Free video chat with smile measure--</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.6.1/js/all.js"
        integrity="sha384-R5JkiUweZpJjELPWqttAYmYM1P3SNEJRM6ecTQF05pFFtxmCO+Y1CiUhvuDzgSVZ"
        crossorigin="anonymous"></script>
</head>

<body>
    <h1> RING TOP PAGE </h1>
    <form id="project_index" class="pure-form" method="post" action="/one2one/">
        {% csrf_token %}
        <select name="age">
            <option value="">年齢を選択してください</option>
            <option value="12">12以下</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
            <option value="37">37</option>
            <option value="38">38</option>
            <option value="39">39</option>
            <option value="40">40</option>
            <option value="41">41</option>
            <option value="42">42</option>
            <option value="43">43</option>
            <option value="44">44</option>
            <option value="45">45</option>
            <option value="46">46</option>
            <option value="47">47</option>
            <option value="48">48</option>
            <option value="49">49</option>
            <option value="50">50</option>
            <option value="51">51</option>
            <option value="52">52</option>
            <option value="53">53</option>
            <option value="54">54</option>
            <option value="55">55</option>
            <option value="56">56</option>
            <option value="57">57</option>
            <option value="58">58</option>
            <option value="59">59</option>
            <option value="60">60以上</option>
        </select>　歳<br>
        <select name="gender">
            <option value="">性別を選択してください</option>
            <option value="male">男性</option>
            <option value="female">女性</option>
            <option value="other">その他</option>
        </select><br>
        <select name="job">
            <option value="">職業を選択してください</option>
            <option value="1">公務員</option>
            <option value="2">経営者・役員</option>
            <option value="3">会社員</option>
            <option value="4">自営業</option>
            <option value="5">自由業</option>
            <option value="6">専業主婦</option>
            <option value="7">パート・アルバイト</option>
            <option value="8">学生</option>
            <option value="9">その他</option>
        </select>
        <br>
        <p>このサイトで入力いただく個人情報は当サイトの管理者にて厳重に管理し、</p>
        <p>円滑なコミュニケーションの場を整備する以外の目的では利用いたしません。</p>
        <p>また、このアプリケーションを用いることによって生じた損害は、当サイト管理者は責任は負いかねますのでご了承ください。</p><br>
        <input type="checkbox" required="required" name="check">上記を確認しました。<br>

        <button href="#" class="pure-button pure-button-success" type="submit">Start 1 on 1 Emotion Recognition Video
            Chat </button>
        <!-- <button href="#" class="pure-button pure-button-success" type="submit" onClick="form.action='/one2one/';return true">1 on 1 Video Chat </button>
    <button href="#" class="pure-button pure-button-success" type="submit" onClick="form.action='/one2many/';return true">Room Chat</button> -->
    </form>
</body>

</html>